.wrapper {
  overflow: hidden;
}

.body-h {
  overflow-y: hidden;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.btn-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
  border-radius: 4px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #494C62;
}

input, textarea {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #2B2D33;
}

input:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #6C86E2;
  box-shadow: 0px 0px 0px 2px #6C86E2;
}

textarea:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #6C86E2;
  box-shadow: 0px 0px 0px 2px #6C86E2;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-wdith: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

.header__block {
  position: relative;
  z-index: 5;
}

.header__old {
  padding: 9px 0;
  background: #333333;
}

.header__old-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #FFFFFF;
}

.old-link {
  color: #FFFFFF;
}

.old-link::after {
  content: url("../img/icons/header-old-link.svg");
  margin-left: 7px;
}

.header__context {
  background: #EBEFFF;
}

.header__context-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #333333;
}

.header__logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.35px;
  color: #000000;
}

.header__logo::before {
  content: url("../img/header-logo.svg");
  margin-right: 6px;
}

.header__hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weekday {
  margin-right: 8px;
}

.weekday::before {
  content: url("../img/icons/header-hours.svg");
  margin-right: 6px;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.telefon {
  margin-right: 18px;
  color: #333333;
}

.telefon::before {
  content: url("../img/icons/header-telefon.svg");
  margin-right: 12px;
}

.adress::before {
  content: url("../img/icons/header-location.svg");
  margin-right: 10px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.telegram {
  width: 24px;
  height: 24px;
  background-image: url(../img/telegram.svg);
  margin-right: 16px;
}

.vk {
  width: 24px;
  height: 24px;
  background-image: url(../img/vk.svg);
}

.header-wrap {
  width: 100%;
  top: 74px;
  z-index: 100;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky .logo-desktop {
  display: block;
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
}

.sticky .header__contact-mob {
  display: block;
}

.sticky .telefon {
  display: none;
}

.sticky .header__hours {
  display: none;
}

.sticky .adress {
  display: none;
}

.header {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-desktop {
  display: none;
}

.header__menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 610px;
  -ms-flex-preferred-size: 610px;
  flex-basis: 610px;
}

.menu__list li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.list__link {
  color: #333333;
}

.list__link::after {
  content: '';
  -webkit-transition: opacity 0.4s linear 0s;
  transition: opacity 0.4s linear 0s;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #526ED3;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.list__link:hover::after {
  opacity: 1;
}

.list__link:hover {
  color: #526ED3;
  -webkit-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
}

.header__contact-mob {
  display: none;
}

.header__advice {
  background: transparent;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  border: 1px solid #526ED3;
  border-radius: 4px;
  color: #526ED3;
}

.header__advice:hover {
  background: #526ED3;
  color: #FFFFFF;
  -webkit-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}

@media (max-width: 1200px) {
  .sticky .header__advice {
    display: none;
  }
}

@media (max-width: 992px) {
  .sticky .logo-desktop {
    display: none;
  }
  .header__hours {
    display: none;
  }
  .header__menu {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .menu__list {
    margin-right: 24px;
  }
  .header__advice {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .circle-back {
    display: none;
  }
  .header__old {
    display: none;
  }
  .header__context {
    display: none;
  }
  .header__advice {
    padding: 8px 16px;
  }
  .logo-desktop {
    display: block;
    position: relative;
    z-index: 6;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .header {
    height: 33px;
  }
  .header::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 33px;
    top: 0;
    left: 0;
    z-index: 6;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .header__burger {
    display: block;
    width: 16px;
    height: 14px;
    position: relative;
    z-index: 6;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #333333;
    display: block;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 6px;
    background-color: #333333;
  }
  .header__contact-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__contact-mob .telefon {
    margin-right: 0;
    margin-bottom: 17px;
  }
  .header__contact-mob .header__hours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 17px;
  }
  .header__contact-mob .adress {
    margin-bottom: 17px;
  }
  .header__menu {
    padding: 73px 0 35px 0;
    display: block;
    position: fixed;
    top: -10000px;
    -webkit-transition-duration: .6s;
            transition-duration: .6s;
    left: 0;
    z-index: 5;
    height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    background: #F7F8F9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu__list {
    height: initial;
    display: block;
    position: relative;
    z-index: 5;
    max-width: none;
    margin-right: 0;
    -ms-flex-preferred-size: initial;
    flex-basis: initial;
  }
  .menu__list li {
    text-align: center;
    height: initial;
    display: block;
    margin-bottom: 32px;
  }
  .menu__list li:last-child {
    margin-bottom: 0;
  }
  .header__menu.active {
    top: 0;
  }
  .header__burger.active span {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header__burger.active::before {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header__burger.active::after {
    opacity: 0;
    visibility: hidden;
  }
}

.main {
  position: relative;
  background: #EBEFFF;
}

.main__circle {
  position: absolute;
  border-radius: 50%;
}

.circle-white {
  width: 792px;
  height: 792px;
  right: -220px;
  top: -292px;
  background: #FFFFFF;
}

.circle-back {
  width: 824px;
  height: 824px;
  right: -236px;
  top: -308px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.main__cars {
  position: absolute;
  width: 620px;
  height: 245px;
  right: 0;
  top: 83px;
  z-index: 1;
}

.main__cars img {
  width: 100%;
  height: 100%;
}

.main.header-active .main__cars {
  top: 131px;
}

.main.header-active .circle-white {
  top: -244px;
}

.main.header-active .circle-back {
  top: -260px;
}

.main-wrap {
  padding-top: 48px;
  padding-bottom: 24px;
}

.content {
  padding-top: 96px;
}

.main__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #494C62;
  margin-bottom: 40px;
}

.main__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  width: 65%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.main__advantages-item {
  margin-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 4px;
}

.main__advantages-item span {
  font-weight: 700;
}

.main__advantages-item:last-child {
  margin-right: 0;
}

.main__form {
  margin-bottom: 41px;
}

.main__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.main__input {
  width: 225px;
  height: 40px;
  padding: 0 11px;
  background: #FFFFFF;
  border: 1px solid #AAABAD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 8px;
}

.main__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.main__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.main__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.main__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.main__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px 20px;
  background: #526ED3;
  border-radius: 4px;
}

.main__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #333333;
  width: 420px;
}

.main__text-color {
  color: #959595;
  width: 100%;
}

.main__container-position {
  position: relative;
}

.main__wrap-auto {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__auto-img {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrap-auto .main__auto-img:nth-child(1) {
  margin-bottom: 20px;
}

.auto__text {
  margin-left: 16px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: #6B6D80;
  padding-bottom: 10px;
}

.m-input-error {
  border: 1px solid #EE505A;
}

.m-input-error:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1470px) {
  .main__cars {
    width: 700px;
    height: 270px;
  }
  .main__advantages {
    width: 60%;
  }
}

@media (max-width: 1300px) {
  .main__cars {
    position: absolute;
    width: 48%;
    padding-top: 20%;
  }
  .main__cars img {
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media (max-width: 1200px) {
  .main__cars {
    width: 48%;
  }
  .main__auto-img {
    width: initial;
    max-width: 470px;
  }
  .main__auto-img a {
    margin-right: 8px;
  }
  .main__auto-img a:last-child {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .main__wrap-auto {
    display: none;
  }
  .main__advantages {
    width: 100%;
  }
  .main__cars {
    display: none;
  }
  .circle-white {
    display: none;
  }
}

@media (max-width: 768px) {
  .content {
    padding-top: 0;
  }
  .main-wrap {
    padding: 65px 0 8px 0;
  }
  .main__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .main__advantages {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  .main__advantages-item:nth-child(2) {
    margin-right: 16px;
  }
  .main__advantages-item:last-child {
    margin: 0;
    width: 197px;
    height: 60px;
  }
  .main__advantages-item {
    font-size: 14px;
    padding: 12px 8px;
    margin-bottom: 12px;
  }
  .main__form {
    margin-bottom: 32px;
  }
  .main__form-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main__input {
    width: 100%;
    margin: 0 0 8px 0;
  }
  .main__btn {
    width: 100%;
    display: block;
    text-align: center;
  }
  .main__text {
    width: 100%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 24px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 32px;
}

.card__item {
  width: 270px;
  max-width: 270px;
  padding: 12px 16px;
  background: #FFFFFF;
  border-radius: 6px;
  position: relative;
  color: initial;
}

.card__item:hover {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 6px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 6px 16px rgba(0, 0, 0, 0.1);
}

.item__choice {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  padding: 4px;
  background: #FCC068;
  border-radius: 2px;
  color: #333333;
  display: none;
}

.item__img-wrap {
  width: 153px;
  height: 125px;
  margin-bottom: 16px;
}

.item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #494C62;
  margin-bottom: 8px;
}

.item__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 8px;
}

.item__presence {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 12px;
}

.presence-green {
  color: #3AA981;
}

.presence-orange {
  color: #FCBB14;
}

.presence-red {
  color: #B8474E;
}

.item__equipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 120%;
  color: #494C62;
  margin-bottom: 8px;
}

.item__equipment-text {
  font-weight: 600;
  margin-right: 5px;
}

.item__equipment-price {
  font-weight: 700;
}

.item__plant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 120%;
}

.item__plant-text {
  font-weight: 600;
  color: #494C62;
  margin-right: 5px;
}

.item__plant-price {
  font-weight: 700;
  color: #34B41F;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card__link {
  padding: 13px 24px;
  text-align: center;
  background: #526ED3;
  border-radius: 4px;
  margin-bottom: 12px;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

@media (max-width: 768px) {
  .card {
    row-gap: 16px;
    margin-bottom: 16px;
  }
  .card__item {
    max-width: initial;
    width: 100%;
    padding: 12px;
  }
  .item__img-wrap {
    width: 100px;
    height: 82px;
    margin-bottom: 16px;
  }
  .item__title {
    font-size: 16px;
  }
  .item__equipment {
    font-size: 14px;
  }
  .item__plant {
    font-size: 14px;
  }
  .card__link {
    padding: 10px 20px;
  }
  .card__text {
    text-align: center;
    font-size: 14px;
  }
}

.popular {
  padding: 56px 0;
}

.popular__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 16px;
}

.links__item {
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;
  border-radius: 4px;
  width: 286.5px;
  height: 88px;
  margin-bottom: 56px;
}

.links__item .links__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 72px;
  height: 2px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 6px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 6px 16px rgba(0, 0, 0, 0.1);
}

.links__item img {
  margin-right: 8px;
}

.links__item p {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #333333;
}

.links__item span {
  display: block;
}

.links__item .links-red {
  background-color: #B8474E;
}

.links__item .links-green {
  background-color: #34B41F;
}

.links__item .links-orange {
  background-color: #FCBB14;
}

.links__item .links-black {
  background-color: #333333;
}

.links__item:hover {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.1));
  -webkit-transition: -webkit-filter 0.3s linear 0s;
  transition: -webkit-filter 0.3s linear 0s;
  transition: filter 0.3s linear 0s;
  transition: filter 0.3s linear 0s, -webkit-filter 0.3s linear 0s;
}

.popular__title {
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .popular__links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 56px;
  }
  .links__item {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .popular {
    padding: 32px 0;
  }
  .popular__links {
    margin-bottom: 32px;
  }
  .links__item {
    width: 100%;
    height: 64px;
  }
  .links__item img {
    width: 46px;
    height: 40px;
    margin-right: 24px;
  }
  .links__item p {
    font-size: 14px;
  }
  .popular__title {
    margin-bottom: 16px;
  }
}

.guarantee {
  background: #FFFFFF;
  padding: 40px 0;
}

.guarantee__title {
  max-width: 713px;
  text-align: center;
  margin: 0 auto 48px;
}

.guarantee__title span {
  color: #526ED3;
}

.guarantee__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.guarantee__row-text {
  max-width: 368px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.guarantee__row-text p:nth-child(1) {
  margin-bottom: 24px;
}

.guarantee__desc {
  width: 100%;
  padding: 16px 0;
  background: #EBEFFF;
  border-radius: 6px;
  margin-bottom: 24px;
}

.guarantee__desc-text {
  max-width: 618px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #494C62;
}

.guarantee__desc-text span {
  color: #FF8A00;
}

.guarantee__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.guarantee__link {
  padding: 13px 24px;
  background: #526ED3;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .guarantee__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .guarantee__row-text {
    max-width: initial;
    width: 100%;
  }
  .guarantee__row-text:first-child {
    margin-bottom: 24px;
  }
  .guarantee__row-img {
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .guarantee {
    padding: 0;
    background: transparent;
  }
  .guarantee-wrap {
    background: #FFFFFF;
    padding: 16px 8px;
  }
  .guarantee__title {
    text-align: left;
    margin-bottom: 16px;
  }
  .guarantee__row-text {
    font-size: 14px;
  }
  .guarantee__row-text p:nth-child(1) {
    margin-bottom: 8px;
  }
  .guarantee__row-img {
    width: 280px;
    height: 188px;
  }
  .guarantee__row-img img {
    width: 100%;
    height: 100%;
  }
  .guarantee__row {
    margin-bottom: 16px;
  }
  .guarantee__desc {
    padding: 12px 6px;
    margin-bottom: 16px;
  }
  .guarantee__desc-text {
    font-size: 14px;
    line-height: 130%;
  }
  .guarantee__link {
    width: 100%;
    text-align: center;
  }
}

.protection-wrap {
  position: relative;
  margin-bottom: 48px;
}

.protection__text-back {
  color: #EDEDED;
  text-align: center;
  font-weight: 700;
  font-size: 100px;
}

.protection__text-back:nth-child(1) {
  margin-bottom: 12px;
}

.protection__text {
  max-width: 1010px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #494C62;
  margin-bottom: 12px;
}

.protection__text span {
  font-weight: 700;
  color: #3682DB;
}

@media (max-width: 768px) {
  .protection-wrap {
    margin-bottom: 30px;
  }
  .protection__text-back {
    font-size: 45px;
  }
  .protection__text {
    max-width: initial;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
}

.new-product {
  padding: 56px 0;
}

.new-product__title {
  margin-bottom: 24px;
}

.new-product .item__choice {
  display: block;
}

@media (max-width: 768px) {
  .new-product {
    padding: 32px 0;
  }
  .new-product__title {
    margin-bottom: 16px;
  }
}

.review {
  margin-bottom: 72px;
}

.review-card__column {
  margin-bottom: 48px;
}

.review-card {
  padding: 24px 32px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}

.review-card:last-child {
  margin-bottom: 0;
}

.review-card__info {
  max-width: 441px;
  margin-right: 48px;
}

.review-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.review-card__meta p {
  background: #EBEFFF;
  border-radius: 2px;
  padding: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #333333;
  margin-right: 8px;
  margin-bottom: 6px;
}

.review-card__meta p:last-child {
  margin-right: 0;
}

.review-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #494C62;
  margin-bottom: 16px;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.card__text p:nth-child(1) {
  margin-right: 5px;
  margin-bottom: 8px;
}

.card__text p:nth-child(2) {
  font-weight: 700;
}

.text-margin {
  margin-bottom: 24px;
}

.review-card__link {
  border: 1px solid #526ED3;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #526ED3;
}

.review-card__link:hover {
  background: #526ED3;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.review-card__img {
  border-radius: 4px;
  max-width: 569px;
  max-height: 229px;
  position: relative;
  height: 229px;
  padding-left: 51%;
}

.review-card__img img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.review__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.review__link {
  padding: 13px 24px;
  background: #526ED3;
  margin-bottom: 12px;
}

.review__link-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

@media (max-width: 768px) {
  .review {
    margin-bottom: 32px;
  }
  .review-card {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 8px;
  }
  .review-card__info {
    max-width: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .review-card__title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .card__text {
    font-size: 14px;
  }
  .card__text p:nth-child(1) {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  .text-margin {
    margin-bottom: 12px;
  }
  .review-card__link {
    width: 100%;
    padding: 9px;
    text-align: center;
  }
  .review-card__img {
    height: 144px;
    padding-left: 100%;
  }
  .review-card__column {
    margin-bottom: 24px;
  }
  .review__link {
    padding: 10px 20px;
  }
  .review__link-text {
    font-size: 14px;
  }
}

.comment {
  background: #FFFFFF;
  padding: 32px 0;
}

.comment-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__title {
  text-align: center;
  margin-bottom: 48px;
}

.comment__slider-wrap {
  max-width: 762px;
  overflow: hidden;
}

.comment__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}

.comment__item {
  background: #F7F8F9;
  border-radius: 8px;
  padding: 16px 24px;
}

.slider-arrow {
  min-width: 40px;
  min-height: 40px;
  background-image: url(../img/icons/slider-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #526ED3;
  border-radius: 4px;
  cursor: pointer;
}

.left {
  margin-right: 12px;
}

.right {
  margin-left: 12px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slider-arrow:hover {
  background-image: url(../img/icons/slider-arrow-white.svg);
  background-color: #526ED3;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #494C62;
  margin-bottom: 24px;
}

.slider__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  margin-bottom: 24px;
}

.slider__contact {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #494C62;
  text-align: center;
}

.comment__page {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #959595;
  text-align: center;
  margin-bottom: 48px;
}

.comment__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.comment__link {
  display: inline-block;
  padding: 13px 24px;
  background: #526ED3;
  border-radius: 4px;
}

.slider-arrow.disabled {
  background-image: url(../img/icons/slider-arrow-white.svg);
  background-color: #526ED3;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

@media (max-width: 768px) {
  .comment {
    background: transparent;
    padding: 0;
  }
  .comment-wrap {
    max-width: none;
    width: 100%;
    background: #FFFFFF;
    padding: 16px 8px;
  }
  .comment__title {
    text-align: center;
    margin-bottom: 24px;
  }
  .comment__slider {
    margin-bottom: 8px;
  }
  .slider__title {
    font-size: 16px;
  }
  .slider__text {
    font-size: 14px;
  }
  .slider__contact {
    font-size: 16px;
  }
  .comment__page {
    margin-bottom: 24px;
    font-size: 14px;
  }
  .comment__link {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .slider-arrow {
    min-width: 32px;
    min-height: 32px;
  }
  .left {
    margin-right: 4px;
  }
  .right {
    margin-right: 0px;
    margin-left: 4px;
  }
}

.footer-wrap {
  padding: 66px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__title {
  max-width: 568px;
  margin-bottom: 24px;
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 17px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.footer__adress {
  margin-bottom: 24px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 465px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.footer__contact-width {
  width: 624px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.work-time__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-item__img {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 10px;
}

.work-time__text p:nth-child(1) {
  margin-bottom: 8px;
}

.footer__telefon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.telefon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-a1 {
  margin-bottom: 8px;
}

.link-a1::after {
  content: url("../img/icons/footer-tel-a1-img.png");
  margin-left: 6px;
}

.link-mtc::after {
  content: url("../img/icons/footer-tel-mtc-img.png");
  margin-left: 6px;
}

.mail__link::before {
  content: url("../img/icons/footer-mail-img.svg");
  margin-right: 10px;
}

.social__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form {
  width: 370px;
  padding: 24px;
  background: #FFFFFF;
  border-radius: 8px;
}

.footer__form input::-webkit-input-placeholder,
.footer__form textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.footer__form input:-ms-input-placeholder,
.footer__form textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.footer__form input::-ms-input-placeholder,
.footer__form textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.footer__form input::placeholder,
.footer__form textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.footer__form input {
  display: inline-block;
  padding: 10px 11px;
  width: 100%;
  border: 1px solid #AAABAD;
  border-radius: 6px;
  margin-bottom: 18px;
}

.footer__form textarea {
  width: 100%;
  height: 93px;
  padding: 8px 11px;
  border: 1px solid #AAABAD;
  border-radius: 6px;
  resize: none;
  margin-bottom: 18px;
}

.form__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 8px;
}

.form__btn {
  background: #526ED3;
  border-radius: 4px;
  margin-bottom: 8px !important;
}

.form__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #808080;
}

.footer__about {
  padding: 56px 0 96px 0;
}

.about__title {
  margin-bottom: 24px;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__text {
  -ms-flex-preferred-size: 568px;
  flex-basis: 568px;
}

.about__text:first-child {
  margin-right: 32px;
}

.about__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 16px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.footer__navigation {
  background: #FFFFFF;
  padding: 24px 0 32px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px;
}

.nav__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.35px;
  color: #333333;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.nav__logo::before {
  content: url("../img/header-logo.svg");
  margin-right: 6px;
}

.nav__menu {
  -ms-flex-preferred-size: 610px;
  flex-basis: 610px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}

.nav__link:hover {
  color: #526ED3;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.author__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author__wrap p:first-child {
  margin-right: 64px;
}

.author__wrap a {
  color: #526ED3;
}

@media (max-width: 1200px) {
  .footer__info {
    max-width: 490px;
  }
  .footer-title {
    max-width: initial;
  }
  .footer__contact {
    width: initial;
  }
  .footer__contact-width {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: initial;
  }
  .footer__mail {
    margin-bottom: 24px;
  }
}

@media (max-width: 992px) {
  .footer-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__info {
    max-width: initial;
    width: 100%;
    margin-bottom: 34px;
  }
  .footer__title {
    max-width: initial;
    width: 100%;
  }
  .nav__logo {
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
  }
  .nav__menu {
    -ms-flex-preferred-size: initial;
    flex-basis: initial;
    width: 100%;
  }
  .footer__telefon {
    -ms-flex-preferred-size: 358px;
        flex-basis: 358px;
  }
}

@media (max-width: 768px) {
  .footer-wrap {
    padding: 32px 0;
  }
  .footer__info {
    margin-bottom: 24px;
  }
  .footer__title {
    margin-bottom: 16px;
  }
  .footer__adress {
    margin-bottom: 16px;
  }
  .footer__mail {
    margin-bottom: 16px;
  }
  .footer__contact {
    width: 100%;
    margin-bottom: 16px;
  }
  .fotter__work-time {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer__telefon {
    -ms-flex-preferred-size: initial;
        flex-basis: initial;
    width: 100%;
  }
  .footer-title {
    margin-bottom: 8px;
  }
  .footer__form {
    width: 100%;
    padding: 16px;
  }
  .footer__about {
    padding: 32px 0;
  }
  .about__wrap {
    display: block;
  }
  .footer__navigation {
    padding: 16px 0 24px 0;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .nav__logo {
    -ms-flex-preferred-size: initial;
    flex-basis: initial;
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    margin-bottom: 16px;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__list li {
    margin-bottom: 8px;
  }
  .nav__list li:last-child {
    margin-bottom: 0;
  }
  .footer__author {
    display: block;
    text-align: center;
  }
  .footer__author p:first-child {
    margin-bottom: 8px;
  }
  .author__wrap {
    display: block;
  }
  .author__wrap p:first-child {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .btn-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 585px) {
  .footer__mail {
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .footer__contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.modal {
  position: fixed;
  top: -10000px;
  padding: 10px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 110;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__form-wrap {
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 24px 32px;
  max-width: 470px;
}

.modal__cross {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__cross::before, .modal__cross::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #333333;
}

.modal__cross::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #494C62;
  margin-bottom: 8px;
  text-align: center;
}

.modal__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.modal__input-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 8px;
}

.modal__input {
  width: 100%;
  padding: 11px 10px;
  background: #FFFFFF;
  border: 1px solid #AAABAD;
  border-radius: 6px;
  margin-bottom: 18px;
}

.modal__textarea {
  resize: none;
  display: block;
  height: 93px;
  overflow: scroll;
  padding: 8px 11px;
  width: 100%;
  border: 1px solid #AAABAD;
  border-radius: 6px;
  margin-bottom: 20px;
}

.modal__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.modal__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.modal__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.modal__textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808185;
}

.modal__btn {
  padding: 10px 20px;
  background: #526ED3;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.m-display {
  display: none;
}

.m-show {
  top: 0;
}

@media (max-width: 768px) {
  .modal__form-wrap {
    padding: 24px 16px;
  }
  .modal__title {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .modal__subtitle {
    font-size: 14px;
  }
  .modal__input-title {
    font-size: 14px;
  }
  .modal__textarea::-webkit-input-placeholder {
    font-size: 14px;
  }
  .modal__textarea:-ms-input-placeholder {
    font-size: 14px;
  }
  .modal__textarea::-ms-input-placeholder {
    font-size: 14px;
  }
  .modal__textarea::placeholder {
    font-size: 14px;
  }
  .modal__btn {
    width: 100%;
  }
}

.m-confirm__wrapper {
  position: fixed;
  padding: 10px;
  top: -10000px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 110;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-confirm {
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 24px 32px;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-confirm__cross {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.m-confirm__cross::before, .m-confirm__cross::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #333333;
}

.m-confirm__cross::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.m-confirm__cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.m-confirm__img {
  margin-bottom: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.m-confirm__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #494C62;
  margin-bottom: 8px;
  text-align: center;
}

.m-confirm__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.m-confirm__btn {
  padding: 10px 20px;
  background: #526ED3;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.m-confirm-show {
  top: 0;
}

@media (max-width: 768px) {
  .m-confirm {
    padding: 24px 16px;
  }
  .m-confirm__title {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .m-confirm__subtitle {
    font-size: 14px;
  }
  .m-confirm__btn {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .btn-text {
    font-size: 16px;
    line-height: 20px;
  }
  input, textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #2B2D33;
  }
}
