.popular {
    padding: 32px 0;
  }
  
  .popular__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 16px;
  }
  .popular__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #494C62;
    margin-bottom: 24px;
  }
  .links__item {
    padding: 10px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background: #FFFFFF;
    border-radius: 4px;
    width: 286.5px;
    height: 88px;
    margin-bottom: 56px;
  }
  
  .links__item .links__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 72px;
    height: 2px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 6px 16px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 6px 16px rgba(0, 0, 0, 0.1);
  }
  
  .links__item img {
    margin-right: 8px;
  }
  
  .links__item p {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
  }
  
  .links__item span {
    display: block;
  }
  
  .links__item .links-red {
    background-color: #B8474E;
  }
  
  .links__item .links-green {
    background-color: #34B41F;
  }
  
  .links__item .links-orange {
    background-color: #FCBB14;
  }
  
  .links__item .links-black {
    background-color: #333333;
  }
  
  .links__item:hover {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.1));
    -webkit-transition: -webkit-filter 0.3s linear 0s;
    transition: -webkit-filter 0.3s linear 0s;
    transition: filter 0.3s linear 0s;
    transition: filter 0.3s linear 0s, -webkit-filter 0.3s linear 0s;
  }
  .card__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  
  @media (max-width: 992px) {
    .popular__links {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 56px;
    }
    .links__item {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 768px) {
    .popular {
      padding: 32px 0;
    }
    .popular__links {
      margin-bottom: 32px;
    }
    .links__item {
      width: 100%;
      height: 64px;
    }
    .links__item img {
      width: 46px;
      height: 40px;
      margin-right: 24px;
    }
    .links__item p {
      font-size: 14px;
    }
    .popular__title {
      margin-bottom: 16px;
    }
  }