<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>StarLine</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__block">
                <div class="header__old">
                    <div class="container">
                        <div class="header__old-wrap">
                            <p>
                                Версию сайта со старым дизайном оставили доступной по ссылке правее
                            </p>
                            <a href="#" class="old-link">
                                Перейти на старый сайт
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header__context">
                    <div class="container">
                        <div class="header__context-wrap">
                            <a href="#" class="header__logo">
                                StarLine-alarm
                            </a>
                            <div class="header__hours">
                                <p class="header__contact-flex weekday">
                                    Пн-Пт 10:00 - 19:00
                                </p>
                                <p class="weekend">
                                    Сб-Вс 10:00 - 14:00
                                </p>
                            </div>
                            <div class="header__contact">
                                <a href="#" class="header__contact-flex telefon">
                                    +375 44 975 28 40
                                </a>
                                <p class="header__contact-flex adress">
                                    г.Минск ул. Брестская, 34 
                                </p>
                            </div>
                            <div class="header__social">
                                <a href="#" class="social telegram"></a>
                                <a href="#" class="social vk"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-wrap">
                    <div class="container">
                        <div class="header">
                            <a href="#" class="header__logo logo-desktop">
                                StarLine-alarm
                            </a>
                            <div class="header__burger">
                                <span></span>
                            </div>
                            <nav class="header__menu">
                                <ul class="menu__list">
                                    <li>
                                        <a href="#" class="list__link">Каталог</a>
                                    </li>
                                    <li>
                                        <a href="#" class="list__link">Наши работы</a>
                                    </li>
                                    <li>
                                        <a href="#" class="list__link">Акции и скидки</a>
                                    </li>
                                    <li>
                                        <a href="#" class="list__link">О сервисе</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact' %}" class="list__link">Контакты</a>
                                    </li>
                                </ul>
                                <div class="header__contact-mob">
                                    <a href="#" class="telefon">
                                        +375 44 975 28 40
                                    </a>
                                    <div class="header__hours">
                                        <p class="weekday">
                                            Пн-Пт 10:00 - 19:00
                                        </p>
                                        <p class="weekend">
                                            Сб-Вс 10:00 - 14:00
                                        </p>
                                    </div>
                                    <p class="adress">
                                        г.Минск ул. Брестская, 34 
                                    </p>
                                    <div class="header__social">
                                        <a href="#" class="social telegram"></a>
                                        <a href="#" class="social vk"></a>
                                    </div>
                                </div>
                                <button class="header__advice" data-modal="advice">
                                    Бесплатная консультация
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="main">
                <div class="container">
                    <section class="main-wrap">
                        <div class="product__pagination">
                            <a href="#" class="pagintaion__link">Главная</a>
                            <a href="#" class="pagintaion__link pagintaion__page">О сервисе</a>
                        </div>
                        <div class="company">
                            <div class="company__about">
                                <h2 class="company__title title">
                                    О компании
                                </h2>
                                <p class="company__text">
                                    ООО «БелТайерСервис» – официальный представитель торговой марки Starline в Беларуси. На протяжении более 5 лет мы успешно представляем и развиваем направление современных охранных систем в Беларуси. За это время нами накоплен бесценный позитивный опыт в работе с нашими клиентами. Нашими клиентами стали более 1000 физических и юридических лиц, что несомненно является лишь началом успешной работы. Залогом успеха служит лояльное и компромиссное отношение к нашим заказчикам и высокий уровень обслуживания.
                                </p>
                                <p class="company__text">
                                    Наша команда состоит как из добрых и отзывчивых менеджеров отдела call – центра, так и из высококвалифицированных мастеров – установщиков, благодаря которым возможна установка автосигнализаций Starline на самые свежие автомобили, оборудованные современной электроникой. Опыт наших мастеров поможет вам освоить принцип работы и разобраться в современных охранных системах Starline на должном уровне. Мы установили сигнализации Starline на более чем 1000 автомобилей, что позволит нам сохранить Ваше время, сокращая время установки и монтажа автосигнализаций или другого дополнительного оборудования за счёт обретённого опыта.
                                </p>
                            </div>
                            <div class="company__img">
                                <img src="{% static 'img/company.png' %}" alt="company">
                            </div>
                        </div>
                        <div class="company__subject">
                            <p>
                                Работаем с НДС, оказываем услуги по коммерческому мониторингу за авто
                            </p>
                            <p>
                                цены на сайте указаны без НДС
                            </p>
                        </div>
                        <div class="company__img-frame">
                            <div class="img-frame frame-img-one">
                                <img src="{% static 'img/company_frame.png' %}" alt="frame">
                            </div>
                            <div class="img-frame frame-img-two">
                                <img src="{% static 'img/company_frame.png' %}" alt="frame">
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <div class="modal">
                <div class="modal__form-wrap">
                    <div class="modal__cross"></div>
                    <h3 class="modal__title">
                        Заявка на бесплатную консультацию
                    </h3>
                    <p class="modal__subtitle">
                        Технический специалист перезвонит Вам в течение 10 минут и ответит на все вопросы
                    </p>
                    <form action="" class="modal__form">
                        <p class="modal__input-title">
                            Ваше имя
                        </p>
                        <input type="text" name="user__name" class="modal__input" placeholder="Иванов Иван Иванович">
                        <p class="modal__input-title">
                            Номер телефона
                        </p>
                        <input type="tel" name="user__tel" class="modal__input" placeholder="+375" pattern="[0-9]">
                        <p class="modal__input-title m-display">
                            Текст отзыва
                        </p>
                        <textarea class="modal__textarea m-display" name="comment__text" placeholder="Хочу установить иммобилайзер и не потерять гарантию диллера"></textarea>
                        <input type="button" value="Оставить отзыв" class="modal__btn btn-text">
                    </form>
                </div>
            </div>
            <div class="m-confirm__wrapper">
                <div class="m-confirm">
                    <div class="m-confirm__cross"></div>
                    <div class="m-confirm__img">
                        <img src="{% static 'img/icons/m-confirm_img.svg' %}" alt="confirm">
                    </div>
                    <h3 class="m-confirm__title">
                        Отзыв успешно отправлен
                    </h3>
                    <p class="m-confirm__subtitle">
                        Спасибо, отзыв появится на сайте в течение нескольких дней. 
                    </p>
                    <button class="m-confirm__btn btn-text">
                        Понятно, спасибо
                    </button>
                </div>
            </div>
        </main>
        <footer>
            <section class="footer">
                <div class="container">
                    <div class="footer-wrap">
                        <div class="footer__info">
                            <h2 class="footer__title title">
                                Бесплатно проконсультируем Вас по любому вопросу связанному с установкой охранных систем
                            </h2>
                            <div class="footer__adress footer-text">
                                г.Минск, ул. Бресткая 34
                            </div>
                            <div class="footer__contact">
                                <div class="fotter__work-time">
                                    <div class="work-time__title footer-title">
                                        Время работы
                                    </div>
                                    <div class="work-time__block">
                                        <img src="{% static 'img/icons/footer-time-img.svg' %}" class="work-item__img" alt="work-time">
                                        <div class="work-time__text">
                                            <p class="footer-text">
                                                Пн-Пт 10:00 - 19:00
                                            </p>
                                            <p class="footer-text">
                                                Сб-Вс 10:00 - 14:00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer__telefon">
                                    <div class="telefon__title footer-title">
                                        Телефоны
                                    </div>
                                    <a href="#" class="telefon__link link-a1 footer-text">
                                        +375(29) 975 28 40
                                    </a>
                                    <a href="#" class="telefon__link link-mtc footer-text">
                                        +375(29) 504 13 89
                                    </a>
                                </div>
                            </div>
                            <div class="footer__contact footer__contact-width">
                                <div class="footer__mail">
                                    <div class="mail__title footer-title">
                                        E-mail
                                    </div>
                                    <a href="#" class="mail__link footer-text">
                                        starline-belarus@mail.ru
                                    </a>
                                </div>
                                <div class="footer__support">
                                    <div class="support__title footer-title">
                                        Круглосуточная служба поддержки
                                    </div>
                                    <a href="#" class="support__link footer-text">
                                        8 10 8000 333 80 30 (бесплатно с территории РБ)
                                    </a>
                                </div>
                            </div>
                            <div class="footer__social">
                                <div class="social__title footer-title">
                                    Пишите нам в социальных сетях
                                </div>
                                <div class="social__link-wrap">
                                    <a href="#" class="social__link telegram"></a>
                                    <a href="#" class="social__link vk"></a>
                                </div>
                            </div>
                        </div>
                        <form action="#" class="footer__form">
                            <p class="form__title">
                                Имя
                            </p>
                            <input type="text" placeholder="Иванов Иван Иванович" class="footer-text">
                            <p class="form__title">
                                Номер телефона
                            </p>
                            <input type="tel" placeholder="+375" class="footer-tel">
                            <p class="form__title">
                                Опишите свой вопрос
                            </p>
                            <textarea name="form_footer" placeholder="Хочу установить иммобилайзер и не потерять гарантию диллера" required></textarea>
                            <input type="submit" value="Отправить" class="form__btn btn-text">
                            <p class="form__subtitle">
                                Перезвоним в течении 8 минут и наш технический эксперт ответит на все ваши вопросы.
                            </p>
                        </form>
                    </div>
                </div>
            </section>
            <section class="footer__map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1150b6f8451adaf5edeb724cd175d116aafae415ca475bbfc7f80ac594bbbdf2&amp;source=constructor" width="100%" height="494px" frameborder="0"></iframe>
            </section>
            <section class="footer__about">
                <div class="container">
                    <h2 class="about__title title">
                        Охранные системы Starline в Беларуси
                    </h2>
                    <div class="about__wrap">
                        <div class="about__text">
                            <p>
                                Безопасность автомобиля сегодня является актуальным вопросом для автовладельцев не только в Беларуси, но и по всему миру. Наша компания, имея многолетний опыт работы, представляет сегодня белорусскому потребителю ряд высокотехнологичных решений в области автомобильных охранных систем. Современные технологии, воплощённые в противоугонных системах Starline помогут автовладельцам навсегда обеспечить надёжную защиту транспортного средства от проникновения или хищения, будь то легковой автомобиль, мототранспорт или грузовой автомобиль с напряжением бортовой сети 24 вольта.
                            </p>
                            <p>
                                Приобретая охранно-телематические комплексы, автовладельцы всегда могут отследить состояние автомобиля, оперативно получая информацию по современным каналам связи на брелок, защищённый диалоговым кодом. Также, посредством GSM GPS связи для владельцев смартфонов на базе iOS, Android существует ряд современных решений, позволяющих управлять функциями сигнализаций и отслеживать передвижение автомобиля с помощью разработанного приложения Starline телематика.
                            </p>
                        </div>
                        <div class="about__text">
                            <p>
                                Автосигнализации Starline с автозапуском двигателя обеспечат владельцев автотранспорта дополнительным удобством, создавая комфортные условия в салоне автомобиля в любое время года, будь то знойная жара или лютый мороз.
                            </p>
                            <p>
                                Cигнализации Старлайн пользуются популярностью в виду своей богатой функциональности и доступной стоимостью. Приобрести охранные системы, маяки можно у нас с бесплатной доставкой по Минску и платной доставкой по Республике Беларусь. Вы также можете получить консультацию по дополнительному оборудованию, и наши специалисты помогут Вам в выборе системы, исходя из ваших пожеланий и требований.
                            </p>
                            <p>
                                При приобретении современных автомобильных систем безопасности необходимо учитывать техническую специфику при установке, понятную далеко не каждому. Поэтому наша компания предлагает вам не только купить, но и установить автосигнализацию Starline на ваш автомобиль. Наши специалисты имеющие большой опыт в установке сигнализаций, ответят на все интересующие и оперативно помогут решить любые вопросы связанные с эксплуатацией систем. Добро пожаловать: Starline-alarm Belarus
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer__navigation">
                <div class="container">
                    <div class="footer__nav">
                        <a href="#" class="nav__logo">
                            StarLine-alarm
                        </a>
                        <nav class="nav__menu">
                            <ul class="nav__list">
                                <li>
                                    <a href="#" class="nav__link">Каталог</a>
                                </li>
                                <li>
                                    <a href="#" class="nav__link">Наши работы</a>
                                </li>
                                <li>
                                    <a href="#" class="nav__link">Акции и скидки</a>
                                </li>
                                <li>
                                    <a href="#" class="nav__link">О сервисе</a>
                                </li>
                                <li>
                                    <a href="#" class="nav__link">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__author">
                        <p>
                            © Все права защищены 2022
                        </p>
                        <div class="author__wrap">
                            <p>
                                Цены на сайте указаны без НДС
                            </p>
                            <p>
                                Дизайн: <a href="https://shkuratovdesigner.com/">shkuratovdesigner.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/modal_window.js' %}"></script>
    <script src="{% static 'js/validation_footer.js' %}"></script>
</body>
</html>