{% extends 'starline/index.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'about_company/css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'about_company/css/style.css' %}">
    <title>StarLine</title>
{% endblock %}

{% block main %}
            <section class="main">
                <div class="container">
                    <section class="main-wrap">
                        <div class="product__pagination">
                            <a href="{% url 'index' %}" class="pagintaion__link">Главная</a>
                            <a href="{% url 'about_company' %}" class="pagintaion__link pagintaion__page">О сервисе</a>
                        </div>
                        <div class="company">
                            <div class="company__about">
                                <h2 class="company__title title">
                                    О компании
                                </h2>
                                {% for i in company %}
                                {{ i.description|safe }}

                            </div>
                            <div class="company__img">
                                <img src="{{ i.image1.url }}" alt="company">
                            </div>
                        </div>
                        <div class="company__subject">
                            <p>
                                Работаем с НДС, оказываем услуги по коммерческому мониторингу за авто
                            </p>
                            <p>
                                цены на сайте указаны без НДС
                            </p>
                        </div>
                        <div class="company__img-frame">
                            <div class="img-frame frame-img-one">
                                <img src="{{ i.image2.url }}" alt="frame">
                            </div>
                            <div class="img-frame frame-img-two">
                                <img src="{{ i.image3.url }}" alt="frame">
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                </div>
            </section>
{% endblock %}
{% block footer %}
{% for item in contacts %}
       <section class="footer">
                <div class="container">
                    <div class="footer-wrap">
                        <div class="footer__info">
                            <h2 class="footer__title title">
                                Бесплатно проконсультируем Вас по любому вопросу связанному с установкой охранных систем
                            </h2>
                            <div class="footer__adress footer-text">
                                {{ item.address }}
                            </div>
                            <div class="footer__contact">
                                <div class="fotter__work-time">
                                    <div class="work-time__title footer-title">
                                        Время работы
                                    </div>
                                    <div class="work-time__block">
                                        <img src="{% static 'contacts/img/icons/footer-time-img.svg' %}" class="work-item__img" alt="work-time">
                                        <div class="work-time__text">
                                            <p class="footer-text">
                                                {{ item.time_work1 }}
                                            </p>
                                            <p class="footer-text">
                                                {{ item.time_work2 }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer__telefon">
                                    <div class="telefon__title footer-title">
                                        Телефоны
                                    </div>
                                    <a href="tel:{{ item.phone1 }}" class="telefon__link link-a1 footer-text">
                                        {{ item.phone1 }}
                                    </a>
                                    <a href="tel:{{ item.phone2 }}" class="telefon__link link-mtc footer-text">
                                        {{ item.phone2 }}
                                    </a>
                                </div>
                            </div>
                            <div class="footer__contact footer__contact-width">
                                <div class="footer__mail">
                                    <div class="mail__title footer-title">
                                        E-mail
                                    </div>
                                    <a href="#" class="mail__link footer-text">
                                        {{ item.email }}
                                    </a>
                                </div>
                                <div class="footer__support">
                                    <div class="support__title footer-title">
                                        Круглосуточная служба поддержки
                                    </div>
                                    <a href="#" class="support__link footer-text">
                                        8 10 8000 333 80 30 (бесплатно с территории РБ)
                                    </a>
                                </div>
                            </div>
                            <div class="footer__social">
                                <div class="social__title footer-title">
                                    Пишите нам в социальных сетях
                                </div>
                                <div class="social__link-wrap">
                                    <a href="{{ item.social_info2 }}" class="social__link telegram"></a>
                                    <a href="{{ item.social_info1 }}" class="social__link vk"></a>
                                </div>
                            </div>
                        </div>
                        <form action="#" class="footer__form">
                            <p class="form__title">
                                Имя
                            </p>
                            <input type="text" placeholder="Иванов Иван Иванович" class="footer-text">
                            <p class="form__title">
                                Номер телефона
                            </p>
                            <input type="tel" placeholder="+375" class="footer-tel">
                            <p class="form__title">
                                Опишите свой вопрос
                            </p>
                            <textarea name="form_footer" placeholder="Хочу установить иммобилайзер и не потерять гарантию диллера" required></textarea>
                            <input type="submit" value="Отправить" class="form__btn btn-text">
                            <p class="form__subtitle">
                                Перезвоним в течении 8 минут и наш технический эксперт ответит на все ваши вопросы.
                            </p>
                        </form>
                    </div>
                </div>
            </section>
    {% endfor %}
{% endblock %}
   {% block script %}
    <script src="{% static 'about_company/js/header.js' %}"></script>
    <script src="{% static 'about_company/js/modal_window.js' %}"></script>
    <script src="{% static 'about_company/js/validation_footer.js' %}"></script>
{% endblock %}