<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_page/css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
    <title>StarLine</title>

</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__block">
                <div class="header__old">
                    <div class="container">
                        <div class="header__old-wrap">
                            <p>
                                Версию сайта со старым дизайном оставили доступной по ссылке правее
                            </p>
                            <a href="http://starline-alarm.by/" class="old-link">
                                Перейти на старый сайт
                            </a>
                        </div>
                    </div>
                </div>
                {% for item in contacts %}
                <div class="header__context">
                    <div class="container">
                        <div class="header__context-wrap">
                            <a href="{% url 'index' %}" class="header__logo">
                                {{ item.name }}
                            </a>
                            <div class="header__hours">
                                <p class="header__contact-flex weekday">
                                    {{ item.time_work1 }}
                                </p>
                                <p class="weekend">
                                    {{ item.time_work2 }}
                                </p>
                            </div>
                            <div class="header__contact">
                                <a href="tel:{{ item.phone1 }}" class="header__contact-flex telefon">
                                    {{ item.phone1 }}
                                </a>
                                <p class="header__contact-flex adress">
                                    {{ item.address }}
                                </p>
                            </div>
                            <div class="header__social">
                                <a href="{{ item.social_info2 }}" class="social telegram"></a>
                                <a href="{{ item.social_info1 }}" class="social vk"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-wrap">
                    <div class="container">
                        <div class="header">
                            <a href="{% url 'index' %}" class="header__logo logo-desktop">
                                {{ item.name }}
                            </a>
                            <div class="header__burger">
                                <span></span>
                            </div>
                            <nav class="header__menu">
                                <ul class="menu__list">
                                    <li>
                                        <a href="#" class="list__link">Каталог</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'our_work' %}" class="list__link">Наши работы</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'action' %}" class="list__link">Акции и скидки</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'about_company' %}" class="list__link">О сервисе</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact' %}" class="list__link">Контакты</a>
                                    </li>
                                </ul>
                                <div class="header__contact-mob">
                                    <a href="{{ item.phone1 }}" class="telefon">
                                        {{ item.phone1 }}
                                    </a>
                                    <div class="header__hours">
                                        <p class="weekday">
                                            {{ item.time_work1 }}
                                        </p>
                                        <p class="weekend">
                                            {{ item.time_work2 }}
                                        </p>
                                    </div>
                                    <p class="adress">
                                        {{ item.address }}
                                    </p>
                                    <div class="header__social">
                                        <a href="{{ item.social_info1 }}" class="social telegram"></a>
                                        <a href="{{ item.social_info2 }}" class="social vk"></a>
                                    </div>
                                </div>
                                <button class="header__advice" data-modal="advice">
                                    Бесплатная консультация
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </header>
        <main>
            <section class="main">
                <div class="main__circle circle-white"></div>
                <div class="main__circle circle-back"></div>
                <div class="main__cars">
                    <img src="{% static 'main_page/img/main-cars.png' %}" alt="cars">
                </div>
                <div class="container main__container-position">
                    <div class="main-wrap">
                        <h1 class="main__title">
                            Установка охранных систем<br>StarLine в Беларуси
                        </h1>
                        <div class="main__advantages">
                            <div class="main__advantages-item">
                                <span>Сохраняем гарантию</span><br> на автомобиль
                            </div>
                            <div class="main__advantages-item">
                                Стоимость установки GPS <br>мониторинга <span>от 70 BYN</span>
                            </div>
                            <div class="main__advantages-item">
                                Стоимость установки<br> автосигнализации <span>от 200 BYN</span>
                            </div>
                            <div class="main__advantages-item">
                                Авторизованный<br>установочный сервис
                            </div>
                        </div>

                        <form class="main__form" method="POST" id="phone_c">
                            <div class="main__form-wrap">
                                {% csrf_token %}
                                {{ phone_con.phone_c }}
                                <input type="submit" value="Получить консультацию" class="main__btn">
                            </div>
                            <p class="main__text">
                                Перезвоним в течении 8 минут и наш технический эксперт ответит на все ваши вопросы.
                            </p>
                        </form>

                        <p class="main__text main__text-color">
                            Работаем с НДС, оказываем услуги по коммерческому мониторингу за авто
                        </p>
                    </div>
                    <div class="main__wrap-auto">
                        <div class="wrap-auto">
                            <div class="main__auto-img">
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/lexus-img.png' %}" alt="lexus">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/geely-img.png' %}" alt="geely">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/toyota-img.png' %}" alt="toyota">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/audi-img.png' %}" alt="audi">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/mb-img.png' %}" alt="mb">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/kia-img.png' %}" alt="kia">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/mazda-img.png' %}" alt="mazda">
                                </a>
                            </div>
                            <div class="main__auto-img">
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/vw-img.png' %}" alt="vw">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/hyndai-img.png' %}" alt="hyndai">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/bmw-img.png' %}" alt="bmw">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/ford-img.png' %}" alt="ford">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/shkoda-img.png' %}" alt="shkoda">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/renault-img.png' %}" alt="renault">
                                </a>
                                <a href="#" class="auto__link">
                                    <img src="{% static 'main_page/img/auto/nissan-img.png' %}" alt="nissan">
                                </a>
                            </div>
                        </div>
                        <p class="auto__text">
                            и др..
                        </p>
                    </div>
                </div>
            </section>
            <section class="popular">
                <div class="container">
                    <div class="popular-wrap">
                        <div class="popular__links">
                            <a href="#" class="links__item">
                                <img src="{% static 'main_page/img/security-img.png' %}" alt="security">
                                <p>Охранные комплексы</p>
                                <div class="links__line links-red"></div>
                            </a>
                            <a href="#" class="links__item">
                                <img src="{% static 'main_page/img/trackers-img.png' %}" alt="trackers">
                                <p>Трекеры и мониторинг</p>
                                <div class="links__line links-green"></div>
                            </a>
                            <a href="#" class="links__item">
                                <img src="{% static 'main_page/img/equipment-img.png' %}" alt="equipment">
                                <p>Дополнительное <span>оборудование</span></p>
                                <div class="links__line links-orange"></div>
                            </a>
                            <a href="#" class="links__item">
                                <img src="{% static 'main_page/img/control-img.png' %}" alt="control">
                                <p>Дистанционное <span>управление ЦЗ</span></p>
                                <div class="links__line links-black"></div>
                            </a>
                        </div>
                        <h2 class="popular__title title">
                            Популярные товары
                        </h2>
                        <div class="card-wrap">
                            <div class="card">

                            </div>
                            <div class="card__info">
                                <a href="#" class="card__link btn-text">
                                    Смотреть больше товаров
                                </a>

                                <p class="card__text">
                                    В каталоге {{ products }} позиций, для 214 марок автомобилей
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="guarantee">
                <div class="container">
                    <div class="guarantee-wrap">
                        <h2 class="guarantee__title title">
                            Официальная <span>гарантия</span> качества работ – <span>5 лет</span> с момента установки
                        </h2>
                        <div class="guarantee__row">
                            <div class="guarantee__row-text">
                                <p>
                                    Мы являемся авторизованным сервисным центром Starline в Беларуси. Имеем сертификат на установку современных систем на современные автомобили. Наши мастера-установщики специально обучены непосредственно техниками компании Ультрастар для установки современного дополнительного оборудования на автомобили.
                                </p>
                                <p>
                                    Охранные комплексы (сигнализации) Starline с февраля 2020 года базовая гарантия составляет 3 года. При условии регистрации оборудования на сайте my.starline.ru – гарантия 5 лет
                                </p>
                            </div>
                            <div class="guarantee__row-img">
                                <img src="{% static 'main_page/img/guarantee-img.png' %}" alt="guarantee">
                            </div>
                            <div class="guarantee__row-text">
                                <p>
                                    Мы являемся авторизованным сервисным центром Starline в Беларуси. Имеем сертификат на установку современных систем на современные автомобили. Наши мастера-установщики специально обучены непосредственно техниками компании Ультрастар для установки современного дополнительного оборудования на автомобили.
                                </p>
                                <p>
                                    Охранные комплексы (сигнализации) Starline с февраля 2020 года базовая гарантия составляет 3 года. При условии регистрации оборудования на сайте my.starline.ru – гарантия 5 лет
                                </p>
                            </div>
                        </div>
                        <div class="guarantee__desc">
                            <p class="guarantee__desc-text">
                                И, самое главное, Ваш автомобиль <span>не лишается диллерской гарантии</span> после монтажа оборудования StarLine нашими специалистами.
                            </p>
                        </div>
                        <div class="guarantee__link-wrap">
                            <button class="guarantee__link btn-text" data-modal="advice">
                                Оставить заявку
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="new-product">
                <div class="container">
                    <div class="new-product-wrap">
                        <h2 class="new-product__title title">
                            Новинки
                        </h2>
                        <div class="card-wrap">
                            <div class="card">


                            </div>
                            <div class="card__info">
                                <a href="#" class="card__link btn-text">
                                    Смотреть больше товаров
                                </a>

                                <p class="card__text">
                                    В каталоге {{ products }} позиций, для 214 марок автомобилей
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="protection">
                <div class="container">
                    <div class="protection-wrap">
                        <p class="protection__text-back">
                            Более 1000
                        </p>
                        <h3 class="protection__text">
                            За годы успешной работы в Минске мы <span>защитили более 1000 автомобилей</span>, но всё также продолжаем постоянно совершенствоваться в сфере car-security. Прямо сейчас мы предлагаем самые выгодные условия по установке охранных систем Starline в Беларуси
                        </h3>
                        <p class="protection__text-back">
                            Автомобилей
                        </p>
                    </div>
                </div>
            </section>
            <section class="review">
                <div class="container">
                    <div class="review-card__column">


                    </div>
                    <div class="review__link-wrap">
                        <a href="#" class="review__link btn-text">Смотреть больше работ</a>
                        <p class="review__link-text">
                            В портфолио <span class="review__lengh">25</span> подробно описанных кейсов
                        </p>
                    </div>
                </div>
            </section>
            <section class="comment">
                <div class="container">
                    <div class="comment-wrap">
                        <div class="comment__title title">
                            Только живые отзывы от реальных людей
                        </div>
                         <div class="slider__content">
                            <div class="slider-arrow left">
                            </div>
                            <div class="comment__slider-wrap">
                                <div class="comment__slider">
                                    <div class="comment__item">
                                        <h3 class="slider__title">

                                        </h3>
                                        <p class="slider__text">

                                        </p>
                                        <p class="slider__contact">

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow right">
                            </div>
                        </div>
                        <div class="comment__page">
                             <span class="comment__page-first">1</span> из <span class="comment__page-last">23</span>
                        </div>
                        <div class="comment__link-wrap">
                            <button class="comment__link btn-text" data-modal="review">
                                Написать отзыв
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal">
                <div class="modal__form-wrap">
                    <div class="modal__cross"></div>
                    <h3 class="modal__title">
                        Заявка на бесплатную консультацию
                    </h3>
                    <p class="modal__subtitle">
                        Технический специалист перезвонит Вам в течение 10 минут и ответит на все вопросы
                    </p>
                    <form action="" class="modal__form">
                        <p class="modal__input-title">
                            Ваше имя
                        </p>
                        <input type="text" name="user__name" class="modal__input" placeholder="Иванов Иван Иванович">
                        <p class="modal__input-title">
                            Номер телефона
                        </p>
                        <input type="tel" name="user__tel" class="modal__input" placeholder="+375" pattern="[0-9]">
                        <p class="modal__input-title m-display">
                            Текст отзыва
                        </p>
                        <textarea class="modal__textarea m-display" name="comment__text" placeholder="Установил иммобилайзер и не потерял гарантию диллера. Рекомендую"></textarea>
                        <input type="button" value="Оставить отзыв" class="modal__btn btn-text">
                    </form>
                </div>
            </div>
            <div class="m-confirm__wrapper">
                <div class="m-confirm">
                    <div class="m-confirm__cross"></div>
                    <div class="m-confirm__img">
                        <img src="{% static 'main_page/img/icons/m-confirm_img.svg' %}" alt="confirm">
                    </div>
                    <h3 class="m-confirm__title">
                        Отзыв успешно отправлен
                    </h3>
                    <p class="m-confirm__subtitle">
                        Спасибо, отзыв появится на сайте в течение нескольких дней.
                    </p>
                    <button class="m-confirm__btn btn-text">
                        Понятно, спасибо
                    </button>
                </div>
            </div>
        </main>
        <footer>
            {% for item in contacts %}
            <section class="footer">
                <div class="container">
                    <div class="footer-wrap">
                        <div class="footer__info">
                            <h2 class="footer__title title">
                                Бесплатно проконсультируем Вас по любому вопросу связанному с установкой охранных систем
                            </h2>
                            <div class="footer__adress footer-text">
                                {{ item.address }}
                            </div>
                            <div class="footer__contact">
                                <div class="fotter__work-time">
                                    <div class="work-time__title footer-title">
                                        Время работы
                                    </div>
                                    <div class="work-time__block">
                                        <img src="{% static 'main_page/img/icons/footer-time-img.svg' %}" class="work-item__img"
                                             alt="work-time">
                                        <div class="work-time__text">
                                            <p class="footer-text">
                                                {{ item.time_work1 }}
                                            </p>
                                            <p class="footer-text">
                                                {{ item.time_work2 }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer__telefon">
                                    <div class="telefon__title footer-title">
                                        Телефоны
                                    </div>
                                    <a href="tel:{{ item.phone1 }}" class="telefon__link link-a1 footer-text">
                                        {{ item.phone1 }}
                                    </a>
                                    <a href="tel:{{ item.phone2 }}" class="telefon__link link-mtc footer-text">
                                        {{ item.phone2 }}

                                    </a>
                                </div>
                            </div>
                            <div class="footer__contact footer__contact-width">
                                <div class="footer__mail">
                                    <div class="mail__title footer-title">
                                        E-mail
                                    </div>
                                    <a class="mail__link footer-text">
                                        {{ item.email }}
                                    </a>
                                </div>
                                <div class="footer__support">
                                    <div class="support__title footer-title">
                                        Круглосуточная служба поддержки
                                    </div>
                                    <a href="#" class="support__link footer-text">
                                        8 10 8000 333 80 30 (бесплатно с территории РБ)
                                    </a>
                                </div>
                            </div>
                            <div class="footer__social">
                                <div class="social__title footer-title">
                                    Пишите нам в социальных сетях
                                </div>
                                <div class="social__link-wrap">
                                    <a href="{{ item.social_info2 }}" class="social telegram"></a>
                                    <a href="{{ item.social_info1 }}" class="social vk"></a>
                                </div>
                            </div>
                        </div>
                        <form class="footer__form" method="POST">
                            {% csrf_token %}
                            <p class="form__title" id="name">
                                Имя
                                {{ phone_form.name }}
                            </p>
                            <p class="form__title" id="phone">
                                Номер телефона
                                {{ phone_form.phone }}
                            </p>
                            <p class="form__title" id="message">
                                Опишите свой вопрос
                                {{ phone_form.message }}
                            </p>
                            <input type="submit" value="Отправить" class="form__btn btn-text">
                            <p class="form__subtitle">
                                Перезвоним в течении 8 минут и наш технический эксперт ответит на все ваши вопросы.
                            </p>
                        </form>
                    </div>
                </div>
            </section>

            <section class="footer__map">
                {{ item.maps|safe }}
            </section>
            <section class="footer__about">
                <div class="container">
                    <h2 class="about__title title">
                        Охранные системы Starline в Беларуси
                    </h2>
                    <div class="about__wrap">
                        <div class="about__text">
                            <p>
                                Безопасность автомобиля сегодня является актуальным вопросом для автовладельцев не только в Беларуси, но и по всему миру. Наша компания, имея многолетний опыт работы, представляет сегодня белорусскому потребителю ряд высокотехнологичных решений в области автомобильных охранных систем. Современные технологии, воплощённые в противоугонных системах Starline помогут автовладельцам навсегда обеспечить надёжную защиту транспортного средства от проникновения или хищения, будь то легковой автомобиль, мототранспорт или грузовой автомобиль с напряжением бортовой сети 24 вольта.
                            </p>
                            <p>
                                Приобретая охранно-телематические комплексы, автовладельцы всегда могут отследить состояние автомобиля, оперативно получая информацию по современным каналам связи на брелок, защищённый диалоговым кодом. Также, посредством GSM GPS связи для владельцев смартфонов на базе iOS, Android существует ряд современных решений, позволяющих управлять функциями сигнализаций и отслеживать передвижение автомобиля с помощью разработанного приложения Starline телематика.
                            </p>
                        </div>
                        <div class="about__text">
                            <p>
                                Автосигнализации Starline с автозапуском двигателя обеспечат владельцев автотранспорта дополнительным удобством, создавая комфортные условия в салоне автомобиля в любое время года, будь то знойная жара или лютый мороз.
                            </p>
                            <p>
                                Cигнализации Старлайн пользуются популярностью в виду своей богатой функциональности и доступной стоимостью. Приобрести охранные системы, маяки можно у нас с бесплатной доставкой по Минску и платной доставкой по Республике Беларусь. Вы также можете получить консультацию по дополнительному оборудованию, и наши специалисты помогут Вам в выборе системы, исходя из ваших пожеланий и требований.
                            </p>
                            <p>
                                При приобретении современных автомобильных систем безопасности необходимо учитывать техническую специфику при установке, понятную далеко не каждому. Поэтому наша компания предлагает вам не только купить, но и установить автосигнализацию Starline на ваш автомобиль. Наши специалисты имеющие большой опыт в установке сигнализаций, ответят на все интересующие и оперативно помогут решить любые вопросы связанные с эксплуатацией систем. Добро пожаловать: Starline-alarm Belarus
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer__navigation">
                <div class="container">
                    <div class="footer__nav">

                        <a href="{% url 'index' %}" class="nav__logo">
                            {{ item.name }}
                        </a>
                        {% endfor %}

                        <nav class="nav__menu">
                            <ul class="nav__list">
                                <li>
                                    <a href="#" class="nav__link">Каталог</a>
                                </li>
                                <li>
                                    <a href="{% url 'our_work' %}" class="nav__link">Наши работы</a>
                                </li>
                                <li>
                                    <a href="{% url 'action' %}" class="nav__link">Акции и скидки</a>
                                </li>
                                <li>
                                    <a href="{% url 'about_company' %}" class="nav__link">О сервисе</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}" class="nav__link">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__author">
                        <p>
                            © Все права защищены 2022
                        </p>
                        <div class="author__wrap">
                            <p>
                                Цены на сайте указаны без НДС
                            </p>
                            <p>
                                Дизайн: <a href="https://shkuratovdesigner.com/">shkuratovdesigner.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <script src="{% static 'main_page/js/header.js' %}"></script>
    <script src="{% static 'main_page/js/popular_card.js' %}"></script>
    <script src="{% static 'main_page/js/new_product_card.js' %}"></script>
    <script src="{% static 'main_page/js/reviews.js' %}"></script>
    <script src="{% static 'main_page/js/comment.js' %}"></script>
    <script src="{% static 'main_page/js/modal_window.js' %}"></script>
    <script src="{% static 'main_page/js/validation_main.js' %}" ></script>
    <script src="{% static 'main_page/js/validation_footer.js' %}"></script>
</body>
</html>