<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for item in contacts %}
<р5>Заголовок отзыва:{{item.title}}</р5>
<h5>Адрес: {{ item.address }}</h5>
<h5>Телефон МТС{{ item.phone1 }}</h5>
<h5>Телефон А1{{ item.phone2 }}</h5>
<h5>Круглосуточная служба поддержки:{{ item.phone_service }}</h5>
<h5>Электронная почта / E-mail:{{ item.email }}</h5>
<h5>Наша группа Вконтакте:{{ item.social_info }}</h5>
<h5>Время работы(По будням):{{ item.time_work1 }}</h5>
<h5>Время работы(По выходным):{{ item.time_work2 }}</h5>
<h5>{{ item.maps|safe }} </h5>
{% endfor %}

</body>
</html>

