.product__pagination {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    margin-bottom: 33px;
}
.pagintaion__link {
    color: #333333;
    margin-right: 11px;
    display: inline-block;

    &::after{
        content: url('../img/icons/pagination_icon.svg');
        display: inline-block;
        margin-left: 13px;
    }
}
.pagintaion__page {
    color: #808185;
    margin-right: 0;

    &::after{
        content: '';
    }
}




@media (max-width: 768px) {
    .product__pagination{
        margin-bottom: 24px;
    }
}