.wrapper {
    overflow: hidden;
  }

  .body-h {
    overflow-y: hidden;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }

  .fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  
  .btn-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    border-radius: 4px;
  }
  
  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #494C62;
  }
  input, textarea {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #2B2D33;
  }
  input:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #6C86E2;
            box-shadow: 0px 0px 0px 2px #6C86E2;
  }
  textarea:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #6C86E2;
            box-shadow: 0px 0px 0px 2px #6C86E2;
  }

@import "container";
@import "header";
@import "section-main";
@import "card";
@import "section-popular";
@import "section-guarantee";
@import "section-protection";
@import "section-new-product";
@import "review-card";
@import "section-comment";
@import "footer";
@import "modal";
@import "modal-confirm";

.not-valid-text{
  color: #EE505A;
}

@media (max-width: 768px) {
    .title{
        font-size: 24px;
    }
    .btn-text{
        font-size: 16px;
        line-height: 20px;
    }
    input, textarea {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #2B2D33;
    }
}
footer{
  & .m-input-error{
    border: 1px solid #EE505A;
  }
  & .m-input-error:focus{
    box-shadow: none;
  }
  & .m-input-valid{
    border: 1px solid #6C86E2;
  }
}
.m-input-error{
  border: 1px solid #EE505A;
}
.m-input-error:focus{
  box-shadow: none;
}
.m-input-valid{
  border: 1px solid #6C86E2;
}